<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Destination Finder"/>
    <title>Destination Finder</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style type="text/css">
        body {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    </style>
    <!--<script type="text/css" th:src="@{/css/bootstrap.min.css}"/>-->
    <script type="text/javascript" th:src="@{/resources/dojo/dojo.js}"></script>
    <script type="text/javascript" th:src="@{/resources/spring/Spring.js}"></script>
    <script type="text/javascript" th:src="@{/resources/spring/Spring-Dojo.js}"></script>
</head>
<body>
<div class="container">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12">
            <h1>Client side destination-finder implementation.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <form class="form-horizontal" role="form" action="#" th:action="@{/search}"
                  th:object="${req}" th:method="post">
                <div class="form-group">
                    <label for="origin" class="col-sm-3 control-label">Origin</label>

                    <div class="col-sm-9">
                        <select id="origin" th:field="*{origin}" th:required="true" class="form-control">
                            <option th:each="origin : ${allOrigins}"
                                    th:value="${origin.code}"
                                    th:text="${origin.code + ' - ' + origin.name}">Select your origin code i.e. AMS.
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pos" class="col-sm-3 control-label">POS</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="pos" th:field="*{pos}"
                               placeholder="Enter your point of sale code i.e. NL." th:required="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="minBudget" class="col-sm-3 control-label">Min. Budget</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="minBudget"
                               placeholder="Provide a maximum budget." th:field="*{minBudget}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxBudget" class="col-sm-3 control-label">Max. Budget</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="maxBudget"
                               placeholder="Provide a maximum budget." th:field="*{maxBudget}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">
                                <!--ng-click="findDestinations(request.origin, request.pos, request.maxBudget)"-->
                                Find Destinations
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" th:unless="${#lists.isEmpty(pages.getPageList())}">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="col-sm-offset-3 col-sm-9">
                <div>
                    <ul class="pagination">
                       <li th:each="i: ${#numbers.sequence(1, pages.getPageCount())}"><a th:href="@{/search/__${i}__}" th:text="${i}"></a></li>
                    </ul>
                </div>
                <table class="table table-condensed">
                    <thead>
                    <th><a th:href="@{/sort/description}">Description</a></th>
                    <th><a th:href="@{/sort/fare}">Fare</a></th>
                    </thead>
                    <tbody>
                    <tr th:each="res : ${pages.getPageList()}">
                        <td th:text="${res.destination.description}">Description</td>
                        <td th:text="${res.lowestFare.value + ' ' + res.lowestFare.currency}">Description</td>
                    </tr>
                    <!--<tr ng-repeat="destination in response.destinations">-->
                    <!--<td>{{destination.destination.description}}</td>-->
                    <!--<td>{{destination.lowestFare.currency}} {{destination.lowestFare.value}},-</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- This should be a Thymeleaf fragment managed by Spring WebFlow -->

    <!--<div class="row" ng-show="response">-->
        <!--<div class="col-lg-offset-2 col-lg-8">-->
            <!--<div class="col-sm-offset-3 col-sm-9">-->
                <!--<table class="table table-condensed">-->
                    <!--<thead>-->
                    <!--<th>destination</th>-->
                    <!--<th>fare</th>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--&lt;!&ndash;<tr ng-repeat="destination in response.destinations">&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>{{destination.destination.description}}</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>{{destination.lowestFare.currency}} {{destination.lowestFare.value}},-</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</body>
</html>